@import "./partials";
@import "./mixins";

.main-footer-div{
    margin-top: 2rem;
    border-top: 1px solid $lightgray;
    padding-top: 3rem;
    .wrapper-div{
        width: 80%;
        margin: 0.5rem auto;
        @include flex(column, flex-start, flex-start);

        .above-footer{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            gap: 6rem;
            width: 100%;

            @include responsiveMaxWidth(920px){
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: auto;
            }

            @include responsiveMaxWidth(700px){
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: auto;
                gap: 2rem;
            }

            .grid-item-one{
                @include flex(column, flex-start, flex-start, 2rem);
                @include responsiveMaxWidth(700px){
                    @include flex(column, center, center, 2rem); 
                }
                h1{
                    @extend %poppins-bold;
                    font-size: 1.6rem;
                    margin: 0;
                }
                div{
                    @include responsiveMaxWidth(700px){
                        @include flex(column, center, center, 0.5rem); 
                    }
                    @include flex(column, flex-start, flex-start, 0.5rem);
                    p{
                        color: $gray;
                        @extend %poppins-regular;
                        margin: 0;
                        @include responsiveMaxWidth(700px){
                            text-align: center
                        }
    
                    }
                }
            }


            .grid-item-two, .grid-item-three{
                @include flex(column, flex-start, flex-start, 2rem);
                @include responsiveMaxWidth(700px){
                    @include flex(column, center, center, 2rem); 
                }
                h1{
                    @extend %poppins-medium;
                    color: $gray;
                    font-size: 1.3rem;
                    margin: 0;
                }
                div{
                    @include flex(column, flex-start, flex-start, 1rem);
                    @include responsiveMaxWidth(700px){
                        @include flex(column, center, center, 0.5rem); 
                    }
                    a{
                        color: $black;
                        @extend %poppins-medium;
                        margin: 0;
    
                    }
                }
            }

            .grid-item-four{
                @include flex(column, flex-start, flex-start, 2rem);
                @include responsiveMaxWidth(700px){
                    @include flex(column, center, center, 2rem); 
                }

                h1{
                    @extend %poppins-medium;
                    color: $gray;
                    font-size: 1.3rem;
                    margin: 0;
                }
                div{
                    @include responsiveMaxWidth(700px){
                        @include flex(column, center, center, 0.5rem); 
                    }
                    @include flex(row, flex-start, flex-start, 1rem);
                    input{
                        border: none;
                        border-bottom: 1px solid $gray;
                        padding-bottom: 0.5rem;
                        outline: none;

                        &:focus{
                            border-bottom: 1px solid $black;
                        }
                    }
                    span{
                        color: $gray;
                        @extend %poppins-semibold;
                        margin: 0;
                        border-bottom: 1px solid $gray;
                        cursor: pointer;

                        &:hover{
                            color: $black;
                            border-bottom: 1px solid $black;
                        }
    
                    }
                }
            }



            
        }

        .below-copyright{
            border-top: 1px solid $lightgray;
            width: 100%;
            h3{
                @extend %poppins-regular;
                margin: 0;
                padding: 1.7rem 0;
            }
        }
    }
}